table.rtable {
  /*margin: 0 auto;*/
  border-collapse: collapse;
  text-rendering: optimizeLegibility;
  width: 100%;
}

table.rtable thead th { font-weight: 600; }
table.rtable thead th, table.rtable tbody td {:not(.classy)
  padding: .8rem; font-size: 1.4rem;
}
table.rtable tbody td {
  padding: .8rem; font-size: 1.4rem;
  vertical-align: top;
  /*color: #444; background: #eee;*/
}
table.rtable tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* niceness */

table.rtabletable>tbody>tr>td,
table.rtable>tbody>tr>th,
table.rtable>tfoot>tr>td,
table.rtable>tfoot>tr>th,
table.rtable>thead>tr>td,
table.rtable>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
}

table.rtable tr td:first-child{
  padding-left:7px;
  width:20%;
}

table.rtable tr td:nth-child(2){
  padding-left:7px;
  width:60%;
}

table.rtable tr td:nth-child(3){
  padding-left:7px;
  width:20%;
}

@media screen and (max-width: 600px) {
  table.rtable caption { background-image: none; }
  table.rtable thead { display: none; }
  table.rtable tbody td {
    display: block; padding: .6rem;
  }
  table.rtable tbody tr td:first-child:not(.no-flip){
    background: #666; color: #fff;

  }
	table.rtable tbody td:before {
    content: attr(data-th + ':');
    font-weight: bold;
    display: inline-block;
  }

  table.rtable tbody tr td:first-child:not(.no-flip) {
    /*background: #666; color: #fff;*/
  }

  table.rtable tr td:first-child, table.rtable tr td:nth-child(2), table.rtable tr td:nth-child(3){
    width:100%;
  }
}
