---
title: "Home"
updated:   2016-03-15 17:38:49
layout: default
group: home
status: published
---

<!------- Slide ---------->
<div class="slide">
  {% include slide.html %}
</div>
<div class="home">
<hr/>


<!------- KEYNOTE ---------->
<h3 style="padding-bottom: 15px">Keynote speakers</h3>

<div class="container-fluid">
  	<div class="row">

		<div class="col-md-4">
			<a href="{{ site.baseurl }}/pages/program/keynote-kitano.html">
				<img src="{{ site.baseurl }}/images/keynote/kitano.jpg"  width="200" alt="Hiroaki Kitano" style="padding-bottom:10px">
			</a>
			
			<p>
				<h4><a href="{{ site.baseurl }}/pages/program/keynote-kitano.html">Hiroaki Kitano</a></h4>
				<strong>CEO</strong> of Sony Computer Science Labs <br/>
				<strong>Professor</strong> at the Okinawa Institute of Science and Technology <br/>
				<strong>President</strong> of the Systems Biology Institute
			</p>

			<hr class="hidden-lg hidden-md"/>
		</div>
		
		<div class="col-md-4">
			<a href="{{ site.baseurl }}/pages/program/keynote-mckeown.html">
				<img src="{{ site.baseurl }}/images/keynote/mckeown.png" width="200" alt="Kathleen McKeown" style="padding-bottom:10px">
			</a>

			<p>
				<h4><a href="{{ site.baseurl }}/pages/program/keynote-mckeown.html">Kathleen McKeown</a></h4>
				<strong>Professor</strong> of Computer Science at Columbia University <br/>
				<strong>Director</strong> of the Institute for Data Sciences and Engineering
			</p>

			<hr class="hidden-lg hidden-md"/>
		</div>

		<div class="col-md-4">
			<a href="{{ site.baseurl }}/pages/program/keynote-bizer.html">
				<img src="{{ site.baseurl }}/images/keynote/bizer.gif" width="200" alt="Christian Bizer" style="padding-bottom:10px">
			</a>
			
			<p>
				<h4><a href="{{ site.baseurl }}/pages/program/keynote-bizer.html">Christian Bizer</a></h4>
				<strong>Professor</strong> at the Univesity of Mannheim <br/>
				<strong>Chair</strong> of Web-based Systems <br/>
				<strong>Director</strong> of the Institute of Computer Science and Business Informatics
			</p>
		</div>
	</div>
</div>

<!------- MSG ---------->
<hr/>
<div class="jumbotron">
	<div class="container">
	    <p style="font-size:14pt;text-align:justify">ISWC 2016 is the premier international forum, for the Semantic Web / Linked Data Community. Here, scientists, industry specialists, and practitioners meet to discuss the future of practical, scalable, user-friendly, and game changing solutions.</p>
	 	<div class="text-info" style="text-align:center;font-size:18pt;padding-top:5px">Come and join us in Kobe to hear</div>

  	</div>
</div>
  
<!------- Update ---------->

<hr/>
  {% include news.html %}

</div>
