---
title: "Home"
updated:   2016-03-15 17:38:49
layout: default
group: home
status: published
---

<!------- Slide ---------->
<div class="slide">
  {% include slide.html %}
</div>
<div class="home">
<hr/>

<!------- NOTE ---------->

<div class="panel panel-warning" style="border:#E0C38F solid 2px">
  <div class="panel-heading" style="position:relative">
  	<h3>Our Message</h3>
  </div>
  <div class="panel-body">
    <p class="allign-justify">
    	We convey our deepest condolences to the victims who have lost friends and family in the 2016 Kumamoto Earthquake. We hope for their smooth recovery and resume for their peaceful live.
    </p>

    <p class="allign-justify">
		We tell the facts concerning the relationship between the earthquake and the conference. Kumamoto is located in Kyushu Island and Kobe in Mainland (Honshu). The distance between them is ca. 470km.
		<strong style="color:#8a6d3b">No damages are reported in Kobe and Kansai Area. So the conference will be held as planned.</strong> 
    </p>
  </div>
</div>
<hr/>

<!------- KEYNOTE ---------->
<a name="keynote"></a>
<h3 style="padding-bottom: 15px">Keynote speakers</h3>

<div class="container-fluid" >
  	<div class="row">

		<div class="col-md-4" vocab="http://schema.org/" resource="http://data.semanticweb.org/person/hiroaki-kitano" typeof="Person">
			<a href="{{ site.baseurl }}/pages/program/keynote-kitano.html">
				<img resource="http://data.semanticweb.org/person/hiroaki-kitano" property="image" src="{{ site.baseurl }}/images/keynote/kitano.jpg"  width="200" alt="Hiroaki Kitano" style="padding-bottom:10px">
			</a>
			
			<p>
				<h4><a href="{{ site.baseurl }}/pages/program/keynote-kitano.html"><span resource="http://data.semanticweb.org/person/hiroaki-kitano" property="name">Hiroaki Kitano</span></a></h4>
				<strong>CEO</strong> of <span property="affiliation">Sony Computer Science Labs</span> <br/>
				<strong>Professor</strong> at the <span property="affiliation">Okinawa Institute of Science and Technology</span> <br/>
				<strong>President</strong> of the <span property="affiliation">Systems Biology Institute</span>
			</p>

			<hr class="hidden-lg hidden-md"/>
		</div>
		
		<div class="col-md-4" vocab="http://schema.org/" resource="http://dbpedia.org/resource/Kathleen_McKeown" typeof="Person">
			<a href="{{ site.baseurl }}/pages/program/keynote-mckeown.html">
				<img resource="http://dbpedia.org/resource/Kathleen_McKeown" property="image" src="{{ site.baseurl }}/images/keynote/mckeown.png" width="200" alt="Kathleen McKeown" style="padding-bottom:10px">
			</a>

			<p>
				<h4><a href="{{ site.baseurl }}/pages/program/keynote-mckeown.html"><span resource="http://dbpedia.org/resource/Kathleen_McKeown" property="name">Kathleen McKeown</span></a></h4>
				<strong>Professor</strong> of <span property="affiliation">Computer Science at Columbia University</span> <br/>
				<strong>Director</strong> of the <span property="affiliation">Institute for Data Sciences and Engineering</span> <br/>
				<strong>Director</strong> of <span property="affiliation">NSF North East Big Data Hub</span>
			</p>

			<hr class="hidden-lg hidden-md"/>
		</div>

		<div class="col-md-4" vocab="http://schema.org/" resource="http://wifo5-04.informatik.uni-mannheim.de/dws-group/resource/persons/Chris_Bizer" typeof="Person">
			<a href="{{ site.baseurl }}/pages/program/keynote-bizer.html">
				<img resource="http://wifo5-04.informatik.uni-mannheim.de/dws-group/resource/persons/Chris_Bizer" property="image" src="{{ site.baseurl }}/images/keynote/bizer.gif" width="200" alt="Christian Bizer" style="padding-bottom:10px">
			</a>

			<p>
				<h4><a href="{{ site.baseurl }}/pages/program/keynote-bizer.html"><span resource="http://wifo5-04.informatik.uni-mannheim.de/dws-group/resource/persons/Chris_Bizer" property="name">Christian Bizer</span></a></h4>
				<strong>Professor</strong> at the <span property="affiliation">University of Mannheim</span> <br/>
				<strong>Chair</strong> of <span property="affiliation">Web-based Systems</span> <br/>
				<strong>Director</strong> of the <span property="affiliation">Institute of Computer Science and Business Informatics</span>
			</p>
		</div>
	</div>
</div>

<!------- MSG ---------->
<a name="overview"></a>
<hr/>
<div class="jumbotron">
	<div class="container">
	    <p style="font-size:14pt;text-align:justify">ISWC 2016 is the premier international forum, for the Semantic Web / Linked Data Community. Here, scientists, industry specialists, and practitioners meet to discuss the future of practical, scalable, user-friendly, and game changing solutions.</p>
	 	<div class="text-info" style="text-align:center;font-size:18pt;padding-top:5px">Come and join us in Kobe to hear</div>

  	</div>
</div>
  
<!------- Update ---------->
<a name="update"></a>
<hr/>
  {% include news.html %}

</div>
