---
title: "ISWC2016 Home"
updated:   2015-09-11 17:38:49
layout: default
---
<div class="slide">
  {% include slide.html %}
</div>
<div class="home">

<hr/>
<div class="jumbotron">
	<div class="container">
	    <p style="font-size:14pt;text-align:justify">ISWC 2016 is the premier international forum, for the Semantic Web / Linked Data Community. Here, scientists, industry specialists, and practitioners meet to discuss the future of practical, scalable, user-friendly, and game changing solutions.</p>
	 	<div class="text-info" style="text-align:center;font-size:18pt;padding-top:5px">Come and join us in Kobe to hear</div>

  	</div>
</div>
  
<hr/>
  {% include news.html %}

</div>
