---
title: "Accepted Papers"
updated:   2016-07-24 00:00:00
layout: default
group: program
menu: sub
ordered: 2
status: published
---

<h1 id="iswc-page-title">{{ page.title }}
  <button type="button" class="btn btn btn-primary btn-xs iswc-show-favorites" data-toggle="button">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorites
  </button>
</h1>


<!-- ################################################################################  -->
<style>
	span.iswc-string-match{
	 	background-color:#f8dda9;
	 	border:1px solid #edd19b;
	 	margin:-1px;
		color:#390705;
	}

	div.iswc-h2-wrap{
		position:relative;
	}

	div.iswc-h2-wrap a{
		position:absolute;
		top:10px;
		right:20px;
	}
</style>

<script>

	var termPattern = "";

    function filterText(_this){
        // Clear all
        $.each($("table.iswc-paper div"), function(){
	    	$(this).html( $(this).text() );
	    });

        // Show only matching TR, hide rest of them
    	$.each($("table.iswc-paper tr:not(.iswc-last-row)"), function() {
            if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1){
               $(this).fadeOut();
            }else{
               $(this).fadeIn();
            }
        });

        //Highlight
        if($(_this).val().trim().length>0){
	        termPattern = new RegExp('(' + $(_this).val().toLowerCase() + ')', 'ig');

	        $("tr.iswc-last-row").show();

	        walk($("table.iswc-paper"));
    	}
    }

    function walk(elem) {

		elem.contents().each(function() {

			if (this.nodeType == 3) { // text node

				if (termPattern.test(this.nodeValue)) {
					$(this).replaceWith(this.nodeValue.replace(termPattern, '<span class="iswc-string-match">$1</span>'));
				}
			} else {
				walk($(this));
			}
		});
	}

	function scrollToId(target_id){
		$('html, body').animate({
	        scrollTop: $("#"+target_id).offset().top - 105
	    }, 800);
	}
</script>

<ul id="top-menu" class="nav nav-pills nav-justified">
	<li role="presentation"><a href="#" onclick="scrollToId('iswc-research')"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Research Track</a></li>
	<li role="presentation"><a href="#" onclick="scrollToId('iswc-resource')"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Resources Track</a></li>
	<li role="presentation"><a href="#" onclick="scrollToId('iswc-application')"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Applications Track</a></li>
	<li role="presentation"><a href="#" onclick="scrollToId('iswc-journal')"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Journal Track</a></li>
</ul>

<!-- ################################################################################  -->

<div class="iswc-h2-wrap">
	<h2 id="iswc-research" class="iswc-session-research" style="padding-bottom: 15px"> Research Track</h2>
	<a href="#" onclick="scrollToId('iswc-page-title')">top</a>
</div>

{% assign iswc_papers = (site.data.papers | where: "Track", "research" | sort: "Lastname")) %}
{% include table-papers.html %}

<hr/>

<!-- ################################################################################  -->
<div class="iswc-h2-wrap">
	<h2 id="iswc-resource" class="iswc-session-resource" style="padding-bottom: 15px"> Resources Track</h2>
	<a href="#" onclick="scrollToId('iswc-page-title')">top</a>
</div>

{% assign iswc_papers = (site.data.papers | where: "Track", "resource" | sort: "Lastname")) %}
{% include table-papers.html %}

<hr/>

<!-- ################################################################################  -->

<div class="iswc-h2-wrap">
	<h2 id="iswc-application" class="iswc-session-application" style="padding-bottom: 15px"> Applications Track</h2>
	<a href="#" onclick="scrollToId('iswc-page-title')">top</a>
</div>


{% assign iswc_papers = (site.data.papers | where: "Track", "application" | sort: "Lastname")) %}
{% include table-papers.html %}

<hr/>

<!-- ################################################################################  -->

<div class="iswc-h2-wrap">
	<h2 id="iswc-journal" class="iswc-session-journal" style="padding-bottom: 15px"> Journal Track</h2>
	<a href="#" onclick="scrollToId('iswc-page-title')">top</a>
</div>

{% assign iswc_papers = (site.data.papers | where: "Track", "journal" | sort: "Lastname")) %}
{% include table-papers.html %}

<hr/>
