---
title: "Accepted Posters and Demos"
updated:   2016-08-04 00:00:00
layout: default
group: program
menu: sub
ordered: 3
status: published
---

<h1 id="iswc-page-title">{{ page.title }}</h1>

<!-- ################################################################################  -->
<style>
	span.iswc-string-match{
	 	background-color:#f8dda9;
	 	border:1px solid #edd19b;
	 	margin:-1px;
		color:#390705;
	}

	div.iswc-h2-wrap{
		position:relative;
	}

	div.iswc-h2-wrap a{
		position:absolute;
		top:10px;
		right:20px;
	}
</style>

<script>
	function scrollToId(target_id){
		$('html, body').animate({
	        scrollTop: $("#"+target_id).offset().top - 105
	    }, 800);
	}
</script>

<ul id="top-menu" class="nav nav-pills nav-justified">
	<li role="presentation"><a href="#" onclick="scrollToId('iswc-poster')"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Posters</a></li>
	<li role="presentation"><a href="#" onclick="scrollToId('iswc-demo')"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Demos</a></li>
</ul>

<!-- ################################################################################  -->

<div class="iswc-h2-wrap">
	<h2 id="iswc-poster" style="padding-bottom: 15px">Posters</h2>
	<a href="#" onclick="scrollToId('iswc-page-title')">top</a>
</div>

{% assign iswc_papers = (site.data.papers | where: "Track", "poster" | sort: "Lastname")) %}
{% include table-papers.html %}


<hr/>

<!-- ################################################################################  -->

<div class="iswc-h2-wrap">
	<h2 id="iswc-demo" style="padding-bottom: 15px">Demos</h2>
	<a href="#" onclick="scrollToId('iswc-page-title')">top</a>
</div>

{% assign iswc_papers = (site.data.papers | where: "Track", "demo" | sort: "Lastname")) %}
{% include table-papers.html %}

<hr/>
