---
title: "Doctoral Consortium"
updated:   2016-09-29 00:00:00
layout: default
group: program
menu: sub
ordered: 9
status: published
---

<style>
  div.panel .table tr td:first-child{
    padding-left:7px;
    width:25%;
  }

  div.panel .table tr td:nth-child(2){
    padding-left:7px;
    width:75%;
  }

  ul.iswc-session-list{
    list-style: none;
  }

  ul.block-arrange li{
    display:inline-block;
    width:140px;
  }

  ul.iswc-session-list li{
    position: relative;
    padding-bottom: 3px;
  }

  ul.iswc-session-list li:before{
    position: absolute;
    top: 0;
    margin: 1px 0 0 -25px;
    font-size: 0.8em;
    display: inline-block;
    font-family: monospace;
  }

  /* List of Preseantation */

  ul.iswc-session-list .iswc-paper-title{
  }

  ul.iswc-session-list .iswc-paper-authors{
    margin-top: 2px;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 5px;
  }

</style>

<h1>{{ page.title }}</h1>


<div class="tab-content">

    <div role="tabpanel" class="tab-pane active panel panel-default">

        <div class="panel-body">
          <table class="rtable">
            <thead>
              <th>Time</th>
              <th>Session</th>
            </thead>
            <tbody>

              <tr class="">
                <td>09:00 - 10:30</td>
                <td>
                  	Introduction<br />
                  	Invited talk by Avi Bernstein (University of Zurich)<br />
                  	Questions and Answers
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>10:30 - 11:00</td>
                <td>
                  Coffee Break 1
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>11:00 - 12:00</td>
                <td>
                  <strong>Session 1</strong> <br/>
                  (15 minutes for each presentation)

                  <hr/>
                  {% assign iswc_session_name = "Session 1" %}
                  {% include list-presentations.html %}
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>12:00 - 12:30</td>
                <td>
                  Poster Session 1
                </td>
              </tr>
<!--
              {% assign iswc_session_name = "Session 1" %}
              {% assign iswc_session_room = "" %}
              {% include tr-presentations.html %}-->

              <!-- -------------------------------- -->

              <tr class="">
                <td>12:30 - 14:00</td>
                <td>
                  Lunch
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>14:00 - 15:15</td>
                <td>
                  <strong>Session 2</strong> <br/>
                  (15 minutes for each presentation)
                  <hr/>

                  {% assign iswc_session_name = "Session 2" %}
                  {% include list-presentations.html %}
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>15:15 - 15:45</td>
                <td>
                  Poster Session 2
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>15:45 - 16:00</td>
                <td>
                  Coffee Break 2
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>16:00 - 17:00</td>
                <td>
                  <strong>Session 3</strong> <br/>
                  (15 minutes for each presentation)
                  <hr/>
                  {% assign iswc_session_name = "Session 3" %}
                  {% include list-presentations.html %}
                </td>
              </tr>

              <!-- -------------------------------- -->

              <tr class="">
                <td>17:00 - 17:30</td>
                <td>
                  Poster Session 3
                </td>
              </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>
