<section class="iswc-ads">
<h4>Sponsors</h4>
<!-- <h4 style="color:#697998; font-size:1.5em"><strong>Platinum Sponsors</strong></h4> -->
<h4 style="color:#aa6708"><strong>Gold Sponsors</strong></h4>
<div class="iswc-ads-items">
	<div class="panel panel-default">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://www.nttr.co.jp/english/">
			<div>
				<img src="{{ site.baseurl }}/images/sponsors/nttr.png" width="60%"/>
			</div>
			<div style="margin-top:10px; font-size:15pt; color:black">NTT Resonant</div>
		</a>
		
	  </div>
	</div>
</div>

<hr/>
<h4>Organizers</h4>

<div class="iswc-ads-items">
	<div class="panel panel-default">
	  <div class="panel-body">
		<a target="_blank" href="http://swsa.semanticweb.org">
			<img src="{{ site.baseurl }}/images/organizers/sawa.png" width="100%"/>
		</a>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-body">
		<a target="_blank" href="http://linkedopendata.jp/?page_id=267">
			<img src="{{ site.baseurl }}/images/organizers/lodi.png" width="100%"/>
		</a>
	  </div>
	</div>
</div>

</section>