<link rel="stylesheet" href="{{ site.baseurl }}/libs/flipclock/flipclock.css">
<script src="{{ site.baseurl }}/libs/flipclock/flipclock.js"></script>

<div class="clock" style="margin:2em;"></div>
<div class="message"></div>

<script type="text/javascript">
	var clock;
	
	$(document).ready(function() {
		var clock;

		clock = $('.clock').FlipClock({
	        clockFace: 'DailyCounter',
	        autoStart: false,
	        callbacks: {
	        	stop: function() {
	        		$('.message').html('The clock has stopped!')
	        	}
	        }
	    });
			    
	    clock.setTime(220880);
	    //clock.setTime(1476662400);
	    clock.setCountdown(true);
	    clock.start();

	});
</script>