
<ul class="iswc-right-emph-date"> 

	<li>
		<span>
			<a href="{{ site.baseurl }}/pages/program/accepted-papers.html">Accepted Papers</a>, 
			<a href="{{ site.baseurl }}/pages/program/accepted-posters-demos.html">Posters and Demos</a>
			are announced !
		</span>
	</li>

	<li>
		<span style="color:red">
			<a class="btn btn-danger" href="{{ site.baseurl }}/pages/attending.html" style="color:#fff; padding:auto 10px;">Registration is now open!</a>
		</span>
	</li>
	<li>
		<span>
			Lists of
			<a href="{{ site.baseurl }}/pages/program/workshops.html" >Workshops</a>
			and
			<a href="{{ site.baseurl }}/pages/program/tutorials.html" >Tutorials</a>
			are announced!
		</span>
	</li>

	<li>
		Keynote Speaker:
		<a href="{{ site.baseurl }}/pages/program/keynote-kitano.html">Hiroaki Kitano</a>,
		<a href="{{ site.baseurl }}/pages/program/keynote-mckeown.html">Kathleen McKeown</a>, and
		<a href="{{ site.baseurl }}/pages/program/keynote-bizer.html">Christian Bizer</a>
	</li>

<!--
	<li>
		<span>
			Call for Posters & Demos is
			<a href="{{ site.baseurl }}/pages/calls/posters-demos.html">here</a>
			!
		</span>
	</li>



	<li>
		<span>
			Call for Papers & Proposals is
			<a href="{{ site.baseurl }}/pages/calls.html">here</a>
			!
		</span>
	</li>


	<li>
		<span>ISWC2016 handout!</span>
		<br/>
		<a href="{{ site.baseurl }}/files/iswc2016-flyer.pdf" target="_blank" ><img width="50px" src="{{ site.baseurl }}/images/iswc2016-flyer-xs.png" style="margin-top:5px" /></a>
	</li>
	
	<li>
		Workshop and Tutorial Proposals<br/>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<span class="iswc-right-emph-date">(will be announced)</span>
	</li>
	<li>
		Standard Track Abstracts<br/>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<span class="iswc-right-emph-date">(will be announced)</span>
	</li>
	<li>
		Standard Track Papers<br/>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<span class="iswc-right-emph-date">(will be announced)</span>
	</li>
	-->
</ul>
