<div class="wrapper">

<!-- ####################### Sub Menu ########################### -->


{% include submenu.html %}


<!-- ####################### News ########################### -->


{% if page.group == "home" or page.group == "deadline" %}
<h4 >Important News</h4>
<ul class="iswc-right-emph-date"> 
	<li>
		<span style="color:red">
			Lists of
			<a class="btn btn-danger btn-xs active" href="{{ site.baseurl }}/pages/program/workshops.html" role="button">Workshops</a>
			and
			<a class="btn btn-danger btn-xs active" href="{{ site.baseurl }}/pages/program/tutorials.html" role="button">Tutorials</a>
			are announced!
		</span>
	</li>

	<li>
		<span>
			Keynote Speaker:
		</span>
		<br/>
		<a href="{{ site.baseurl }}/pages/program/keynote-kitano.html">Hiroaki Kitano</a>,
		<a href="{{ site.baseurl }}/pages/program/keynote-mckeown.html">Kathleen McKeown</a>, and
		<a href="{{ site.baseurl }}/pages/program/keynote-bizer.html">Christian Bizer</a>
	</li>

	<li>
		<span>
			Call for Papers & Proposals is
			<a href="{{ site.baseurl }}/pages/calls.html">here</a>
			!
		</span>
	</li>

	<!--
	<li>
		<span>ISWC2016 handout!</span>
		<br/>
		<a href="{{ site.baseurl }}/files/iswc2016-flyer.pdf" target="_blank" ><img width="50px" src="{{ site.baseurl }}/images/iswc2016-flyer-xs.png" style="margin-top:5px" /></a>
	</li>
	
	<li>
		Workshop and Tutorial Proposals<br/>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<span class="iswc-right-emph-date">(will be announced)</span>
	</li>
	<li>
		Standard Track Abstracts<br/>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<span class="iswc-right-emph-date">(will be announced)</span>
	</li>
	<li>
		Standard Track Papers<br/>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<span class="iswc-right-emph-date">(will be announced)</span>
	</li>
	-->
</ul>
<hr/>
{% endif %}

<!-- ####################### Sponsors ########################### -->


{% include sponsors.html %}

<a href="{{ site.baseurl }}/pages/sponsorship.html" class="btn btn-primary btn-block active" role="button">Become a Sponsor</a>

<hr/>

<!-- ####################### Widgets ########################### -->


{% if page.group == "attending" %}
   {% include yen-exchange.html %}
   <hr/>
{% endif %}

{% if (page.group == "calls" or page.group == "deadline") %}
   {% include clocks-hawii.html %}
   <hr/>
{% endif %}

{% if (page.group == "program" or page.group == "attending") %}
   {% include clocks-jp.html %}
   <hr/>
{% endif %}

<!-- ####################### Organizers ########################### -->


{% include organizers.html %}

<hr/>

<!-- ####################### TWITTER ########################### -->


<a class="twitter-timeline" href="https://twitter.com/ISWC2016" data-widget-id="649874606023577600" height="500">Tweets by @ISWC2016</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

<hr/> 

<div class="allign-center">
	<div class="list-group-item">
		<a href="{{ site.baseurl }}/pages/misc/artworks.html" class="" style="color:black">
			Link to Artworks
		</a>
	</div>
</div>

<!-- ####################### END ########################### -->

