{% include submenu.html %}
<h3>Important News</h3>
<ul>
	<li>Paper submission: TBD</li>
	<li>Poster submission: TBD</li>
</ul>


<hr/>
<h3>Sponsors</h3>
<a href="{{ site.baseurl }}/pages/sponsorship.html" class="btn btn-default btn-block" style="color:#000; margin-bottom:10px; padding:3px" role="button">Become a Sponsor</a>
<div class="panel panel-default">
  <div class="panel-body">
	<a target="_blank" href="http://linkedopendata.jp/"><img src="{{ site.baseurl }}/images/sponsors/lodi-logo.png" width="100%"/></a>
  </div>
</div>

<hr/>
<a class="twitter-timeline" href="https://twitter.com/ISWC2016" data-widget-id="649874606023577600">Tweets by @ISWC2016</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
