<!--<section class="iswc-ads">-->
<h4>Sponsors</h4>

<!-- ######################  PLATINUM ###################### -->


<h4 style="color:#4669ad; font-size:1.4em; margin-top:20px"><strong>Platinum Sponsors</strong></h4>

<div class="iswc-ads-items">

	<div class="panel panel-default" style="xborder:3px solid #6991de; border-width: 2px 1px;">
	  <div class="panel-body allign-center" style="padding: 30px 15px; max-width:350px;">
		<a target="_blank" href="http://semanticsoftware.com/">
			<img alt="Semantic Software" src="{{ site.baseurl }}/images/sponsors/semantic-software.jpg" width="98%"/>
		</a>
		
	  </div>
	</div>

	<!-- ------------------------------ -->

</div>
	
<!-- ######################  GOLD ###################### -->

<h4 style="color:#aa6708"><strong>Gold Sponsors</strong></h4>

<div class="iswc-ads-items">


	<div class="panel panel-default"  style="xborder:1px solid #aa6708">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://www.oracle.com/technetwork/database/options/spatialandgraph/overview/rdfsemantic-graph-1902016.html">
			<img src="{{ site.baseurl }}/images/sponsors/oracle.png" width="100%"/>
		</a>
		
	  </div>
	</div>

	<!-- ------------------------------ -->

	<div class="panel panel-default" style="xborder:1px solid #aa6708">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://recruit-tech.co.jp/">
			<img src="{{ site.baseurl }}/images/sponsors/recruit-tech.png" width="80%"/>
		</a>
		
	  </div>
	</div>

	<!-- ------------------------------ -->

	<div class="panel panel-default" style="xborder:1px solid #aa6708">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://www.fujitsu.com/">
			<img src="{{ site.baseurl }}/images/sponsors/fujitsu.jpg" width="63%"/>
		</a>
		
	  </div>
	</div>

	<!-- ------------------------------ -->

	<div class="panel panel-default" style="xborder:1px solid #aa6708">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://www.nttr.co.jp/english/">
			<img src="{{ site.baseurl }}/images/sponsors/nttr.png" width="50%"/>
			<div alt="NTT Resonant" style="margin-top:10px;color:black">NTT Resonant</div>
		</a>
		
	  </div>
	</div>

	<!-- ------------------------------ -->

	<div class="panel panel-default"  style="xborder:1px solid #aa6708">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://www.hitachi.com/">
			<img src="{{ site.baseurl }}/images/sponsors/hitachi.png" width="90%"/>
		</a>
		
	  </div>
	</div>

</div>

<!-- ######################  SILVER ###################### -->
<h4 style="color:#555">Silver Sponsors</h4> 

<div class="iswc-ads-items">

	<div class="panel panel-default" style="xborder:1px solid #bbb">
	  <div class="panel-body allign-center" style="padding:2px;">
		<a target="_blank" href="http://www.yahoo.co.jp/">
			<img src="{{ site.baseurl }}/images/sponsors/yahoo-japan.png" width="100%"/>
		</a>
		
	  </div>
	</div>

	<!-- ------------------------------ -->

</div>





<!--</section>-->