<!--<section class="iswc-ads">-->
<h4>Sponsors</h4>
<h4 style="color:#697998; font-size:1.5em"><strong>Platinum Sponsors</strong></h4>
<div class="iswc-ads-items">
	<div class="panel panel-default">
	  <div class="panel-body allign-center">
		<a target="_blank" href="#">
			<div>
				<img alt="Yahoo! Japan" src="{{ site.baseurl }}/images/sponsors/semantic-software.jpg" width="100%"/>
			</div>
		</a>
		
	  </div>
	</div>
</div>
	
	<!-- ------------------------------ -->

<h4 style="color:#aa6708"><strong>Gold Sponsors</strong></h4>
<div class="iswc-ads-items">
	<div class="panel panel-default">
	  <div class="panel-body allign-center">
		<a target="_blank" href="http://www.nttr.co.jp/english/">
			<div>
				<img src="{{ site.baseurl }}/images/sponsors/nttr.png" width="35%"/>
			</div>
			<div style="margin-top:10px;color:black">NTT Resonant</div>
		</a>
		
	  </div>
	</div>
</div>

	<!-- ------------------------------ -->


<!-- <h4 style="color:#888">Silver Sponsors</h4> -->

<!--</section>-->