{% assign subpages = (site.pages | where: "menu", "sub" | where: "group", page.group | where:"status", "published" | sort: "title" | sort: "ordered") %}
{% if subpages.size >0 %}
	{% assign mainpages = (site.pages | where: "menu", "main" | where: "group", page.group) %}
	{% if mainpages.size >0 %}
		{% assign page_item = mainpages[0] %}
		<div class="panel panel-default">
			<table class="iswc-submenu table table-hover">
				<tr>
					<th class="allign-center">
						<h4>Submenu</h4>
					</th>
				</tr>
				<tr
					{% if page_item.title == page.title %}
						class="iswc-submenu-highlight"
					{% endif %}
				>
					<td onclick="document.location = '{{ site.baseurl }}/{{ page_item.path }}'" >
						<h4>{{ page_item.title }}</h4>
					</td>
				</tr>
				{% for page_item in subpages %}
					<tr onclick="document.location = '{{ site.baseurl }}/{{ page_item.path }}'" 
						{% if page_item.title == page.title %}
							class="iswc-submenu-highlight"
						{% endif %}
					>
						<td><span style="float:left;top:2px" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<div style="padding-left:20px">{{ page_item.title }}</div></td>
					</tr>
				{% endfor %}
				<!--<tr>
					<td style="background-color:#333; height:3px;font-size:1pt"></td>
				</tr>-->
			</table>	
		</div>	
		<hr/>
	{% endif %}
{% endif %}

<!--
{% if page.group == "calls" %}
   <h3>Calls</h3>
   <ul>
	<li><a href="#">for Research Papers</a></li>
	<li><a href="#">for Posters and Demos</a></li>
	<li><a href="#">for Workshops</a></li>
   </ul>
   <hr/>
{% endif %}

{% if page.group == "attending" %}
   <h3>Attending</h3>
   <ul>
	<li><a href="#">Registration</a></li>
	<li><a href="{{ site.baseurl }}/pages/{{ page.group }}/venue.html">Venue</a></li>
	<li><a href="#">Accommodations</a></li>
	<li><a href="#">Travel Information</a></li>
	<li><a href="#">Visa Information</a></li>
	<li><a href="#">Local Area</a></li>
   </ul>
   <hr/>
{% endif %}

{% if page.group == "organization" %}
   <h3>Organization</h3>
   <ul>
	<li><a href="#">Research Track PC</a></li>
	<li><a href="#">Empirical Studies and Experiments PC</a></li>
	<li><a href="#">In-Use and Software Track PC</a></li>
	<li><a href="#">Data Sets and Ontologies PC</a></li>
	<li><a href="#">Doctoral Consortium PC</a></li>
	<li><a href="#">Industry Track PC</a></li>
	<li><a href="#">Posters and Demos PC</a></li>
   </ul>
   <hr/>
{% endif %}
-->