<table class="table iswc-papers">

	{% for paper in iswc_papers %}
		<tr class='iswc-paper' id='{{ paper.ID }}'>
			<td>
				<div class='iswc-paper-title'>
						<a href='/files/{{ paper.file }}'>{{ paper.Title }}</a>
				</div>
				<div class='iswc-paper-authors'>
					{{ paper.Authors }}
				</div>
				<div>
					{% if paper.Start != null %}{{ paper.Start | date: "%A, %B %-d, %Y" }}{% endif %} | {{ paper.Room }} |
					<a role="button" data-toggle="collapse" href="#{{ paper.ID }}-abstract" aria-expanded="false" aria-controls="{{ paper.ID }}-abstract">
									  Show abstract
					</a>
				</div>
				<div class="collapse" id="{{ paper.ID }}-abstract">
				  <div class="well">
				    {{ paper.Abstract }}
				  </div>
				</div>
			</td>
			<td>
				<a href="#" class="iswc-bookmark">
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				</a>
			</td>
		</tr>
	{% endfor %}

</table>
