<table class="table iswc-papers">

	{% for paper in iswc_papers %}
		<tr class="iswc-paper" id='{{ paper.ID }}'>
			<td>
				<div class='iswc-paper-title'>
						<a href='{% if site.paper_links %}{% if paper.file contains "http" %}{{ paper.file }}{% else %}{{ site.paper_url }}/{{ paper.file }}{% endif %}{% else %}#{{ paper.ID }}{% endif %}'>{% if paper.Track == 'demo' %}[D{{ paper.PIndex }}] {% elsif paper.Track == 'poster' %}[P{{ paper.PIndex}}] {% endif %}{{ paper.Title }}</a>
						<span>
							<a href="#" class="iswc-bookmark">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							</a>
							{% if site.paper_links %}
							<a target="_blank" href="{% if paper.file contains "http" %}{{ paper.file }}{% else %}{{ site.paper_url }}/{{ paper.file }}{% endif %}" class="iswc-download">
								<span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
							</a>
							{% endif %}
						</span>
				</div>
				<div class='iswc-paper-authors'>
					{{ paper.Authors }}
				</div>
				<div class="text-right">
					{% if paper.Start != null %}{% if paper.Session != null %}<a class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline" href="{{ site.baseurl }}/pages/program.html#{{ paper.Start | date: "%A" | downcase }}">{{ paper.Session }}</a><span class="hidden-xs"> | </span>{% endif %}<a href="{{ site.baseurl }}/pages/program.html#{{ paper.Start | date: "%A" | downcase }}">{{ paper.Start | date: "%a, %b %e @ %R" }}</a>{% endif %}{% if paper.Room != null %} | <a href="{{ site.baseurl }}/pages/program/floorplan.html#{{ paper.Room | uri_escape }}">{{ paper.Room }}</a>{% endif %}
				{% if paper.Abstract != null %}
				 <span class="hidden-xs">|</span> <a class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline" role="button" data-toggle="collapse" href="#{{ paper.ID }}-abstract" aria-expanded="false" aria-controls="{{ paper.ID }}-abstract">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>	Abstract

				</a>
				{% endif %}
				{% if site.voting and paper.Track == 'poster' or paper.Track == 'demo' %}
				| <a href="#" class="iswc-voting">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Vote
				</a>
				{% endif %}
				</div>
				{% if paper.Abstract != null %}
				<div class="collapse iswc-paper-abstract" id="{{ paper.ID }}-abstract">
				  <div class="well">
				    {{ paper.Abstract }}
				  </div>
				</div>
				{% endif %}
			</td>
		</tr>
	{% endfor %}

</table>
