<table class="table iswc-paper">

	{% for paper in iswc_papers %}
		<tr>
			<td>
				<div class='iswc-paper-title'>
					{{ paper.Title }}
				</div>
				<div class='iswc-paper-authors'>
					{{ paper.Authors }}
				</div>
				<div>
					{% if paper.Start != null %}{{ paper.Start | date: "%A, %B %-d, %Y" }}{% endif %} | {{ paper.Room }}
				</div>
			</td>
			<td>
				<button type="button" class="btn btn-default" aria-label="Left Align">
					<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
				</button>
			</td>
		</tr>
	{% endfor %}

</table>
