
{% assign iswc_presentations = (site.data.papers | where: "Session", iswc_session_name | sort: "PIndex")) %}

<tr class="iswc-session-head">
 	<td class="no-flip">
 		<h4>{{ iswc_session_name }}</h4>
  	</td>
  	<td class="iswc-parallel-room no-flip">{{ iswc_session_room }}</td>
</tr>

<tr class="iswc-session-items">
 	<td colspan=2 class="no-flip">
    	<ul class="iswc-session-list">
    		{% for pres in iswc_presentations %}
    			<li class="iswc-session-{{ pres.Track }}" title="{{ pres.Track }}" id="{{pres.ID}}">
    				<div class='iswc-paper-title'>
						<a href="/pages/program/accepted-papers.html#{{pres.ID}}">{{ pres.Title }}</a>
					</div>
					<div class='iswc-paper-authors'>
						{{ pres.Authors }}
					</div>
    			</li>
    		{% endfor %}
    	</ul>
  	</td>
</tr>
