<!-Foreign Exchange Rates widget - HTML code - fx-rate.net -->
<style>
	#FEX td{
		padding:0 10px;
	}

	#FEX .WXNtopmenu2 tr:nth-child(even) td {
		background-color: #f8f8f8;
	}
</style>

<div id="FEX" align="center">
	<div align="center" style="margin: 0px; padding: 5px; border: 0px solid #ccc; width: 100%; background-color: transparent;">
		<div align="left" style="width: 100%; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(136, 136, 136); margin: 0px; padding: 0px; padding-bottom:7px; text-align: left; color: rgb(0, 0, 0); background-color: transparent;">
			<a target="_blank" href="http://fx-rate.net/JPY/" style="text-decoration: none;  font-weight: bold; text-align: center; color: rgb(0, 0, 0);">
				<img src="http://fx-rate.net/images/countries/jp.png" style="margin: 0px; padding: 0px; border: none; margin-right:10px;"> Japanese Yen Exchange Rate
			</a>
		</div>
		<script type="text/javascript" src="http://fx-rate.net/fx-rates2.php?label_name=Japanese Yen Exchange Rate&lab=1&width=195&currency=JPY&cp1_Hex=000000&cp2_Hex=FFFFFF&cp3_Hex=ffffff&hbg=1&flag_code=jp&length=short&label_type=currency&cp=000000,FFFFFF,ffffff&cid=USD,EUR,CNY,KRW,THB,CAD,VND,GBP&lang=en"></script>
	</div>
</div>
<!-- Simple Currency Rates Table END -->