---
title:    "Program"
updated:  2016-08-17 00:00:00
layout:   default
group:    program
menu:     main
status:   draft
---
<h1>{{ page.title }}</h1>

<style>
  div.panel-heading h3{
    position: relative;
  }

  span.day{
    position: absolute;
    left:10px;
  }

  div.panel .table tr td:first-child{
    padding-left:7px;
    width:25%;
  }

  div.panel .table tr td:nth-child(2){
    padding-left:7px;
    width:50%;
  }

  div.panel .table tr td:nth-child(3){
    padding-left:7px;
    width:25%;
  }

  .table > tbody > tr > td.iswc-parallel-room{
    padding-top:17px;
  }

  .table > tbody > tr > td.iswc-parallel-time{
    padding-top:17px;
  }

  /* Track Symbol */

  ul.iswc-session-list{
    list-style: none;
  }

  ul.iswc-session-list li{
    position: relative;
  }

  ul.iswc-session-list li:before{
    position: absolute;
    top: 0;
    margin: 1px 0 0 -25px;
    font-size: 0.8em;
    display: inline-block;
    font-family: monospace;
  }

  ul.iswc-session-list li.iswc-session-research:before{
    color: #00661a;
    content: "[R]";
  }

  ul.iswc-session-list li.iswc-session-resource:before{
    color: #0086b3;
    content: "[S]";
  }

  ul.iswc-session-list li.iswc-session-application:before{
    color: #b32d00;
    content: "[A]";
  }

  ul.iswc-session-list li.iswc-session-journal:before{
    color: #b38600;
    content: "[J]";
  }

  /* List of Preseantation */

  ul.iswc-session-list .iswc-paper-title{
  }

  ul.iswc-session-list .iswc-paper-authors{
    margin-top: 2px;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 5px;
  }

  tr.iswc-session-head td{
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  tr.iswc-session-items td{
    border-top: 0px !important;
    padding-top: 0px !important;
  }
</style>

<!-- ################################################## -->


<div class="hidden alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  Note: Here is the tentative schedule of ISWC2016.
 </div>
<br/>

<!-- ###################### MON ########################### -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title allign-center">October 17 <span class="day">Mon</span></h3>
  </div>
  <div class="panel-body">
    <p class="allign-center">
      Workshops <br/>
      Tutorials
    </p>
  </div>
</div>

<!-- ###################### TUE ############################ -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title allign-center">October 18 <span class="day">Tue</span></h3>
  </div>
  <div class="panel-body">
    <p class="allign-center">
      Workshops <br/>
      Tutorials <br/>
      Doctoral Consortium
    </p>
  </div>
</div>

<!-- ##################### WED ############################# -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title allign-center">October 19 <span class="day">Wed</span></h3>

  </div>
  <div class="panel-body iswc-schedule">
    <table class="rtable">
      <thead>
        <th>Time</th>
        <th>Session</th>
        <th class="">Place</th>
      </thead>
      <tbody>


        <tr class="">
          <td>09:00 - 09:30</td>
          <td>
            Opening Ceremony
          </td>
          <td class="">Main Hall</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>09:30 - 10:30</td>
          <td>
            Keynote: <a href="{{site.baseurl}}/pages/program/keynote-mckeown.html">Kathleen McKeown</a>
          </td>
          <td class="">Main Hall</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>10:30 - 11:00</td>
          <td>
            Coffee Break
          </td>
          <td class=""></td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>11:00 - 12:20</td>
          <td>
            <h4>Parallel Session 1</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Knowledge Graphs" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Knowledge Presentation" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Interaction" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}


        <!-- -------------------------------------- -->

        <tr class="">
          <td>12:20 - 14:00</td>
          <td>
            Lunch
          </td>
          <td class="">Ariston Hotel</td>
        </tr>

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>14:00 - 15:20</td>
          <td>
            <h4>Parallel Session 2</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Multilinguality" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Querying" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Smart Planet" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}


        <!-- -------------------------------------- -->

        <tr class="">
          <td>15:20 - 15:50</td>
          <td>
            Coffee Break
          </td>
          <td class=""></td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>15:50 - 17:10</td>
          <td>
            Minute Madness
          </td>
          <td class="">Main Hall</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>18:00 - 21:00</td>
          <td>
            Poster and Demo Reception
          </td>
          <td class="">3rd Floor</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- ####################### THU ########################### -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title allign-center">October 20 <span class="day">Thu</span></h3>
  </div>
  <div class="panel-body iswc-schedule iswc-schedule">
    <table class="table">
      <thead>
        <th>Time</th>
        <th>Session</th>
        <th class="">Place</th>
      </thead>
      <tbody>

        <tr class="">
          <td>09:00 - 10:00</td>
          <td>
            Keynote: <a href="{{site.baseurl}}/pages/program/keynote-bizer.html">Christian Bizer</a>
          </td>
          <td class="">Main Hall</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>10:00 - 10:30</td>
          <td>
            Coffee Break
          </td>
          <td class=""></td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>10:30 - 11:50</td>
          <td>
            <h4>Parallel Session 3</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Querying/SPARQL (I)" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Ontology Matching" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Linked Data" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}


        <!-- -------------------------------------- -->

        <tr class="">
          <td>11:50 - 13:30</td>
          <td>
            Lunch
          </td>
          <td class="">Ariston Hotel</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>13:30 - 14:50</td>
          <td>
            <h4>Parallel Session 4</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Streams" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Search (I)" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Linked Data Measurement" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}

        <!-- -------------------------------------- -->

        <tr class="">
          <td>14:50 - 15:30</td>
          <td>
            Coffee Break
          </td>
          <td class=""></td>
        </tr>


        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>15:30 - 16:50</td>
          <td>
            <h4>Parallel Session 5</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Ontologies (I)" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Embeddings & Neural Approaches" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Search (II)" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}

        <!-- -------------------------------------- -->

        <tr class="">
          <td>17:00 - 18:00</td>
          <td>
            Town Hall
          </td>
          <td class="">Room 501</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>18:30 21:30</td>
          <td>
            Dinner
          </td>
          <td class="">Portpia Hotel</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- ####################### FRI ########################### -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title allign-center">October 21 <span class="day">Fri</span></h3>
  </div>
  <div class="panel-body iswc-schedule">
    <table class="table">
      <thead>
        <th>Time</th>
        <th>Session</th>
        <th class="">Place</th>
      </thead>
      <tbody>


        <tr class="">
          <td>09:00 - 10:00</td>
          <td>
            Keynote: <a href="{{site.baseurl}}/pages/program/keynote-kitano.html">Hiroaki Kitano</a>
          </td>
          <td class="">Main Hall</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td>10:00 - 10:30</td>
          <td>
            Coffee Break
          </td>
          <td class=""></td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>10:30 - 11:50</td>
          <td>
            <h4>Parallel Session 6</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Lightning Talks" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Data Mining" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Natural Language Processing" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}


        <!-- -------------------------------------- -->

        <tr class="">
          <td>11:50 - 13:30</td>
          <td>
            Lunch
          </td>
          <td class="">Ariston Hotel</td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>13:30 - 14:50</td>
          <td>
            <h4>Parallel Session 7</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Medical Applications" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Querying/SPARQL (II)" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Ontologies (II)" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}

        <!-- -------------------------------------- -->

        <tr class="">
          <td>14:50 - 15:30</td>
          <td>
            Coffee Break
          </td>
          <td class=""></td>
        </tr>

        <!-- -------------------------------------- -->

        <tr class="">
          <td class="iswc-parallel-time" rowspan=7>15:30 - 16:50</td>
          <td>
            <h4>Parallel Session 8</h4>
          </td>
          <td class=""></td>
        </tr>
            {% assign iswc_session_name = "Special event session" %}
            {% assign iswc_session_room = "Room 501" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Enriching Data Sources" %}
            {% assign iswc_session_room = "Room 502" %}
            {% include tr-presentations.html %}

            {% assign iswc_session_name = "Reasoning" %}
            {% assign iswc_session_room = "Room 504+505" %}
            {% include tr-presentations.html %}


        <!-- -------------------------------------- -->

        <tr class="">
          <td>17:00 - 17:30</td>
          <td>
            <ul>
              <li>Awards</li>
              <li>ISWC-2017</li>
              <li>Closing remarks</li>
            </ul>
          </td>
          <td class="">Main Hall</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- ################################################## -->
