<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body class="grad allign-center">

    <div class="iswc-height-space visible-md visible-lg"></div>

    <div class="iswc-wrap allign-left">

      {% include header.html %}

      <div class="iswc-body container-fluid">
        <div class="iswc-body-row row">
          <div class="col-md-8 iswc-wrapper-left">
              <div class="page-main">
                <div class="wrapper">
                  {{ content }}
                </div>
              </div>
          </div>
          <div class="col-md-4 iswc-wrapper-right">
				{% include right.html %}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>

    <div class="iswc-height-space visible-md visible-lg"></div>

  </body>

</html>
